.trips-container {
  margin: 16px;
  padding: 16px;
  h1 {
    color: #4a5295;
    margin-bottom: 24px;
  }
}

.trips {
  a {
    text-decoration: none;
    color: grey;
  }
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 48px;
}

.trip-card {
  border: solid 2px #4a5295;
  padding: 16px;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.trip-details {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  h2 {
    color: #4a5295 !important;
  }
}

.trip-images-index {
  height: 280px;
  width: 280px;
  border-radius: 8px;
  object-fit: cover;
}

.trips-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}
